.searchWrapper {
  position: relative;
  margin-bottom: 24px;
}

input.inputBox,
textarea {
  background-color: var(--background-color-hover);
  color: var(--text-mute-color);
}

::placeholder {
  color: var(--text-mute-color);
  opacity: 1;
}

.inputBox {
  width: 100%;
  border: none;
  padding: 15px;
  border-radius: 15px;
}
