.side-bar-wrapper {
  background-color: var(--background-color-hover);
  margin: 0 auto;
  width: 75%;
  height: 100%;
  border-radius: 25px;
  padding: 15px;
}

.side-bar-wrapper .wind-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto 40px auto;
  width: 60%;
  height: 60px;
  background-color: var(--wind-color);
  border-radius: 18px;
}

.side-bar-wrapper .icons-style {
  padding: 8px 16px;
  color: var(--link-color);
  list-style-type: none;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 12px;
}

.side-bar-wrapper a {
  color: var(--link-color);
  text-decoration: none;
}

.icons-style a.active {
  color: var(--text-primary);
}

.icons-style a.active path {
  fill: var(--text-primary);
}

.icons-style:hover,
.icons-style:hover a,
.icons-style:hover span {
  color: var(--text-primary);
}

.side-bar-wrapper .icons-style:hover path {
  fill: var(--text-primary);
}
